@{ 
    //ViewBag.Title = "hello";

    ViewData["Title"] = "NgStrapper";
    Layout = "";
}

<!DOCTYPE html>
<html>
    <head>
        <base href="/" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Webng2</title>
        
        <environment names="Development,Production">
            
        </environment>
        <environment names="Testing">
        </environment>
</head>
<body>
    <app>
        <span>Loading...</span>
    </app>
<script type="text/javascript" src="/dist/polyfills.c851bd0b3e92b3168444.prod.min.js"></script><script type="text/javascript" src="/dist/vendor.c851bd0b3e92b3168444.prod.min.js"></script><script type="text/javascript" src="/dist/app.c851bd0b3e92b3168444.prod.min.js"></script></body>
</html>
