@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<app.Models.Pokemon>

<h3>@Model.First().Type Pokemons</h3>
<ul>
    @foreach (var m in Model)
    {
        <li>@m.Name</li>
    }
</ul>